<div class="col-md-4 my-3">
  <div class="card">
    <div class="card-body">
      <div class="d-flex">
        <div class="me-4">
          <img
            [src]="scientist.imageUrl"
            alt=""
            class="flex-grow-1 scientist-image"
          />
        </div>
        <div class="d-flex flex-column flex-grow-2 w-100">
          <div class="d-flex justify-content-between">
            <p class="lead">{{ scientist.name }}</p>
            <img
              *ngIf="scientist.nobelPrize"
              src="https://upload.wikimedia.org/wikipedia/en/thumb/e/ed/Nobel_Prize.png/440px-Nobel_Prize.png"
              alt=""
              class="medal-image"
              title="Nobel Prize"
            />
          </div>

          <div class="d-flex">
            <span class="h6 me-2">{{ scientist.country }}</span>
            <span class="h6 mx-2">{{ scientist.field }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
